#**S1 : Business Understanding**

Build a predictive model that answers the question: “What sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

#**S2 : Analytic Approach**

####KNN 
####Decision tree
####SVM
####Logistic Regg

#**S3 : Data  Requirement & S4 : Data Collection**

Data from kaggle

#**S5 : Data Understanding**

Data understanding encompasses all activities related to constructing the data set. Read and understand the dataset given using Pandas libraries.

#**S6 : Data Preparation**

####Data Wrangling/Data cleaning
####EDA

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pylab as pl

print('all done')

all done

In [ ]:
df_test = pd.read_csv('test.csv')
df_test.head(2)

   PassengerId  Pclass                              Name  ...    Fare  Cabin  Embarked
0          892       3                  Kelly, Mr. James  ...  7.8292    NaN         Q
1          893       3  Wilkes, Mrs. James (Ellen Needs)  ...  7.0000    NaN         S

[2 rows x 11 columns]

In [ ]:
df_test.shape

(418, 11)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
df = pd.read_csv('train.csv')
df.head(2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

In [ ]:
df.shape

(891, 12)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.describe(include='all')

        PassengerId    Survived      Pclass  ...        Fare    Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000      204       889
unique          NaN         NaN         NaN  ...         NaN      147         3
top             NaN         NaN         NaN  ...         NaN  B96 B98         S
freq            NaN         NaN         NaN  ...         NaN        4       644
mean     446.000000    0.383838    2.308642  ...   32.204208      NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429      NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000      NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400      NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200      NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000      NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200      NaN       NaN

[11 rows x 12 columns]

In [ ]:
df1 = df.isnull()
df1.head(2)

   PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0        False     False   False  False  ...   False  False   True     False
1        False     False   False  False  ...   False  False  False     False

[2 rows x 12 columns]

In [ ]:
missing_values = df1

for column in missing_values.columns.values.tolist():
    print (column)
    print (missing_values[column].value_counts())
    print ('')

PassengerId
False    891
Name: PassengerId, dtype: int64

Survived
False    891
Name: Survived, dtype: int64

Pclass
False    891
Name: Pclass, dtype: int64

Name
False    891
Name: Name, dtype: int64

Sex
False    891
Name: Sex, dtype: int64

Age
False    714
True     177
Name: Age, dtype: int64

SibSp
False    891
Name: SibSp, dtype: int64

Parch
False    891
Name: Parch, dtype: int64

Ticket
False    891
Name: Ticket, dtype: int64

Fare
False    891
Name: Fare, dtype: int64

Cabin
True     687
False    204
Name: Cabin, dtype: int64

Embarked
False    889
True       2
Name: Embarked, dtype: int64

In [ ]:
df1.sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Columns age, cabin and embarked have missing values

#**Feature engineering : Cabin**

Train data

In [ ]:
df['Cabin'].value_counts()

B96 B98        4
C23 C25 C27    4
G6             4
F33            3
C22 C26        3
              ..
A24            1
C87            1
D21            1
B73            1
D28            1
Name: Cabin, Length: 147, dtype: int64

In [ ]:
df2 = df
df2['Cabin_initial'] = df.Cabin.apply(lambda x: str(x)[0])
df2['Cabin_initial'].value_counts()

n    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin_initial, dtype: int64

In [ ]:
df2.head(1)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Cabin_initial
0            1         0       3  ...   NaN        S              n

[1 rows x 13 columns]

In [ ]:
#to locate spesific index for cabin_initial T
#drop row with cabin_initial T to remove outlier
new_df = df2.loc[df2['Cabin_initial'].str.startswith('T')].copy()
print (new_df)

     PassengerId  Survived  Pclass  ... Cabin Embarked  Cabin_initial
339          340         0       1  ...     T        S              T

[1 rows x 13 columns]

In [ ]:
df3 = df2.drop(339)
print (df3.loc[339].head())

KeyError: ignored

In [ ]:
print (df3.loc[340].head())

PassengerId                               341
Survived                                    1
Pclass                                      2
Name           Navratil, Master. Edmond Roger
Sex                                      male
Name: 340, dtype: object

In [ ]:
cabin = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "n": 8}
df3['Cabin_initial'] = df3['Cabin_initial'].map(cabin)
df3['Cabin_initial'].value_counts()

8    687
3     59
2     47
4     33
5     32
1     15
6     13
7      4
Name: Cabin_initial, dtype: int64

In [ ]:
df3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial'],
      dtype='object')

Test data

In [ ]:
df2_test = df_test   
df2_test['Cabin_initial'] = df_test.Cabin.apply(lambda x: str(x)[0])
df2_test['Cabin_initial'].value_counts()

n    327
C     35
B     18
D     13
E      9
F      8
A      7
G      1
Name: Cabin_initial, dtype: int64

In [ ]:
cabin_test = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "n": 8}
df2_test['Cabin_initial'] = df2_test['Cabin_initial'].map(cabin_test)
df2_test['Cabin_initial'].value_counts()

8    327
3     35
2     18
4     13
5      9
6      8
1      7
7      1
Name: Cabin_initial, dtype: int64

#**Future Engineering : Name**

Train data

In [ ]:
df4 = df3
df4['Salutation'] = df.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
df4['Salutation'].value_counts()

Mr              516
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Col               2
Mlle              2
Major             2
Jonkheer          1
the Countess      1
Ms                1
Capt              1
Don               1
Mme               1
Lady              1
Sir               1
Name: Salutation, dtype: int64

In [ ]:
df4['Salutation'] = df4['Salutation'].replace('Mlle', 'Miss')
df4['Salutation'] = df4['Salutation'].replace('Ms', 'Miss')
df4['Salutation'] = df4['Salutation'].replace('Mme', 'Mrs')
df4['Salutation'].value_counts()

Mr              516
Miss            185
Mrs             126
Master           40
Dr                7
Rev               6
Col               2
Major             2
the Countess      1
Lady              1
Don               1
Capt              1
Jonkheer          1
Sir               1
Name: Salutation, dtype: int64

In [ ]:
df4['Salutation'] = df4['Salutation'].replace(['Lady', 'the Countess','Capt', 'Col','Don', 'Dr',\
                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Others')
df4['Salutation'].value_counts()

Mr        516
Miss      185
Mrs       126
Master     40
Others     23
Name: Salutation, dtype: int64

In [ ]:
 titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Others": 5}
 df4['Salutation'] = df4['Salutation'].map(titles)
 df4['Salutation'].value_counts()

1    516
2    185
3    126
4     40
5     23
Name: Salutation, dtype: int64

In [ ]:
df4.head(2)

   PassengerId  Survived  Pclass  ... Embarked Cabin_initial  Salutation
0            1         0       3  ...        S             8           1
1            2         1       1  ...        C             3           3

[2 rows x 14 columns]

Test data

In [ ]:
df4_test = df2_test
df4_test['Salutation'] = df_test.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
df4_test['Salutation'].value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Dr          1
Dona        1
Ms          1
Name: Salutation, dtype: int64

In [ ]:
df4_test['Salutation'] = df4_test['Salutation'].replace('Ms', 'Miss')
df4_test['Salutation'] = df4_test['Salutation'].replace(['Col', 'Dr',\
                                             'Rev', 'Sir', 'Dona'], 'Others')

titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Others": 5}
df4_test['Salutation'] = df4_test['Salutation'].map(titles)
df4_test['Salutation'].value_counts()

1    240
2     79
3     72
4     21
5      6
Name: Salutation, dtype: int64

#**Feature engineering : Age**

Train data

In [ ]:
for dataset in df4:
    mean = df4["Age"].mean()
    std = df4["Age"].std()
    null = df4["Age"].isnull().sum()
    # compute random numbers between the mean, std and null
    rand_age = np.random.randint(mean - std, mean + std, size = null)
    # fill NaN values in Age column with random values generated
    age_slice = df4["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    df4["Age"] = age_slice
    df4["Age"] = df4["Age"].astype(int)

df4["Age"].isnull().sum()
#to check if there is still a missing values present

0

Another way to fill in the missing values for age. Fill in with random number of mean-std

In [ ]:
bins_age = np.linspace(min(df4["Age"]), max(df4["Age"]), 7)
bins_age

array([ 0.        , 13.33333333, 26.66666667, 40.        , 53.33333333,
       66.66666667, 80.        ])

In [ ]:
categories_names = [0, 1, 2, 3, 4, 5]

df4['age_binned'] = pd.cut(df4['Age'], bins_age, labels=categories_names, include_lowest=True )
print (bins_age, ':', df4['age_binned'].value_counts())

[ 0.         13.33333333 26.66666667 40.         53.33333333 66.66666667
 80.        ] : 2    332
1    327
3    110
0     71
4     43
5      7
Name: age_binned, dtype: int64

Test data

In [ ]:
for dataset in df4_test:
    mean = df4_test["Age"].mean()
    std = df4_test["Age"].std()
    null = df4_test["Age"].isnull().sum()
    # compute random numbers between the mean, std and null
    rand_age_test = np.random.randint(mean - std, mean + std, size = null)
    # fill NaN values in Age column with random values generated
    age_slice_test = df4_test["Age"].copy()
    age_slice_test[np.isnan(age_slice_test)] = rand_age_test
    df4_test["Age"] = age_slice_test
    df4_test["Age"] = df4_test["Age"].astype(int)

df4_test["Age"].isnull().sum()

0

In [ ]:
bins_age_test = np.linspace(min(df4_test["Age"]), max(df4_test["Age"]), 7)
bins_age_test

array([ 0.        , 12.66666667, 25.33333333, 38.        , 50.66666667,
       63.33333333, 76.        ])

In [ ]:
categories_names = [0, 1, 2, 3, 4, 5]

df4_test['age_binned'] = pd.cut(df4_test['Age'], bins_age_test, labels=categories_names, include_lowest=True )
print (bins_age_test, ':', df4_test['age_binned'].value_counts())

[ 0.         12.66666667 25.33333333 38.         50.66666667 63.33333333
 76.        ] : 2    144
1    140
3     78
4     26
0     25
5      5
Name: age_binned, dtype: int64

#**Feature engineering : Sex**

Train data

In [ ]:
 gender = {"male": 0, "female": 1}
 df4['Sex'] = df4['Sex'].map(gender)
 df4['Sex'].value_counts()

0    576
1    314
Name: Sex, dtype: int64

Test data

In [ ]:
df4_test['Sex'].value_counts()

male      266
female    152
Name: Sex, dtype: int64

In [ ]:
 gender = {"male": 0, "female": 1}
 df4_test['Sex'] = df4_test['Sex'].map(gender)
 df4_test['Sex'].value_counts()

0    266
1    152
Name: Sex, dtype: int64

#**Feature engineering : SibSp & Parch**

Train data

In [ ]:
print (df4['Parch'].value_counts())
print (df4['SibSp'].value_counts())

0    677
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64
0    607
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [ ]:
df5 = df4
sum_column = df4["SibSp"] + df["Parch"] + 1
df5["Family"] = sum_column
print(df5.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Family'],
      dtype='object')

In [ ]:
df5['Singleton'] = df5['Family'].map(lambda s: 1 if s == 1 else 0)
df5['SmallFamily'] = df5['Family'].map(lambda s: 1 if 2 <= s <= 4 else 0)
df5['LargeFamily'] = df5['Family'].map(lambda s: 1 if 5 <= s else 0)

df5.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Family', 'Singleton', 'SmallFamily',
       'LargeFamily'],
      dtype='object')

In [ ]:
df5.head(2)

   PassengerId  Survived  Pclass  ... Singleton  SmallFamily  LargeFamily
0            1         0       3  ...         0            1            0
1            2         1       1  ...         0            1            0

[2 rows x 19 columns]

Test data

In [ ]:
df5_test = df4_test
sum_column_test = df_test["SibSp"] + df_test["Parch"] + 1
df5_test["Family"] = sum_column_test
df5_test['Family'].value_counts()

1     253
2      74
3      57
4      14
5       7
11      4
7       4
6       3
8       2
Name: Family, dtype: int64

In [ ]:
df5_test['Singleton'] = df5_test['Family'].map(lambda s: 1 if s == 1 else 0)
df5_test['SmallFamily'] = df5_test['Family'].map(lambda s: 1 if 2 <= s <= 4 else 0)
df5_test['LargeFamily'] = df5_test['Family'].map(lambda s: 1 if 5 <= s else 0)

df5_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial', 'Salutation',
       'age_binned', 'Family', 'Singleton', 'SmallFamily', 'LargeFamily'],
      dtype='object')

#**Feature Engineering : Ticket**

Train data

In [ ]:
df6 = df5
df6['numeric_ticket'] = df5['Ticket'].apply(lambda x: 1 if x.isnumeric() else 0)
df6['ticket_letters'] = df5['Ticket'].apply(lambda x: ''.join(x.split(' ')[:-1])
                                            .replace('.','').replace('/','')
                                            .lower() if len(x.split(' ')[:-1]) >0 else 0)

df6.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Family', 'Singleton', 'SmallFamily',
       'LargeFamily', 'numeric_ticket', 'ticket_letters'],
      dtype='object')

In [ ]:
df6.head(2)

   PassengerId  Survived  Pclass  ... LargeFamily  numeric_ticket  ticket_letters
0            1         0       3  ...           0               0              a5
1            2         1       1  ...           0               0              pc

[2 rows x 21 columns]

In [ ]:
df6['numeric_ticket'].value_counts()

1    660
0    230
Name: numeric_ticket, dtype: int64

In [ ]:
df6['ticket_letters'].value_counts()

0            664
pc            60
ca            41
a5            21
stono2        18
sotonoq       15
scparis       11
wc            10
a4             7
soc            6
c              5
fcc            5
wep            3
pp             3
sopp           3
scah           2
ppp            2
sotono2        2
swpp           2
fa             1
as             1
sp             1
casoton        1
sc             1
sop            1
scow           1
fc             1
sca4           1
scahbasle      1
Name: ticket_letters, dtype: int64

In [ ]:
df6.corr()

                PassengerId  Survived  ...  LargeFamily  numeric_ticket
PassengerId        1.000000 -0.005375  ...    -0.057189        0.072586
Survived          -0.005375  1.000000  ...    -0.125439        0.002016
Pclass            -0.035922 -0.340458  ...     0.152100        0.080929
Sex               -0.043298  0.543053  ...     0.102763        0.033012
Age                0.031452 -0.078625  ...    -0.191621       -0.027935
SibSp             -0.057759 -0.035760  ...     0.730669       -0.080479
Parch             -0.001872  0.081248  ...     0.631484       -0.035460
Fare               0.012690  0.257456  ...     0.143663       -0.173248
Cabin_initial     -0.032640 -0.294497  ...     0.071696        0.012550
Salutation         0.003552  0.407383  ...     0.221969        0.036687
Family            -0.040414  0.016150  ...     0.814907       -0.072723
Singleton          0.057865 -0.202793  ...    -0.336714        0.002710
SmallFamily       -0.029311  0.279410  ...    -0.191215        0.013451
LargeFamily       -0.057189 -0.125439  ...     1.000000       -0.030019
numeric_ticket     0.072586  0.002016  ...    -0.030019        1.000000

[15 rows x 15 columns]

After done some feature engineering to the ticket, the ticket still has low correlation with the Survived column. Hence, drop the ticket.

#**Feature engineering : Fare**

Train data

In [ ]:
bins_fare = np.linspace(min(df["Fare"]), max(df["Fare"]), 7)
bins_fare

array([  0.    ,  85.3882, 170.7764, 256.1646, 341.5528, 426.941 ,
       512.3292])

In [ ]:
categories_name = [0, 1, 2, 3, 4, 5]

df6['fare_binned'] = pd.cut(df['Fare'], bins_fare, labels=categories_name, include_lowest=True )
print (bins_fare, ':', df6['fare_binned'].value_counts())

[  0.      85.3882 170.7764 256.1646 341.5528 426.941  512.3292] : 0    824
1     46
2     11
3      6
5      3
4      0
Name: fare_binned, dtype: int64

Test data

In [ ]:
df6_test = df5_test
for dataset in df6_test:
    mean = df_test["Fare"].mean()
    std = df_test["Fare"].std()
    null = df_test["Fare"].isnull().sum()
    # compute random numbers between the mean, std and null
    rand_fare_test = np.random.randint(mean - std, mean + std, size = null)
    # fill NaN values in Age column with random values generated
    fare_slice_test = df["Fare"].copy()
    fare_slice_test[np.isnan(fare_slice_test)] = rand_fare_test
    df6_test["Fare"] = fare_slice_test
    df6_test["Fare"] = df6_test["Fare"].astype(int)

df6_test["Fare"].isnull().sum()
#to check if there is still a missing values present

0

In [ ]:
bins_fare_test = np.linspace(min(df6_test["Fare"]), max(df6_test["Fare"]), 7)
bins_fare_test

array([  0.        ,  85.33333333, 170.66666667, 256.        ,
       341.33333333, 426.66666667, 512.        ])

In [ ]:
categories_name = [0, 1, 2, 3, 4, 5]

df6_test['fare_binned'] = pd.cut(df_test['Fare'], bins_fare_test, labels=categories_name, include_lowest=True )
print (bins_fare_test, ':', df6_test['fare_binned'].value_counts())

[  0.          85.33333333 170.66666667 256.         341.33333333
 426.66666667 512.        ] : 0    386
1     23
3      4
2      4
5      1
4      0
Name: fare_binned, dtype: int64

#**Feature engineering : Embarked**

Train data

In [ ]:
new_df7= df6
common_value = 'S'
new_df7['Embarked'] = new_df7['Embarked'].fillna(common_value)
new_df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 890 entries, 0 to 890
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     890 non-null    int64
 1   Survived        890 non-null    int64
 2   Pclass          890 non-null    int64
 3   Name            890 non-null    object
 4   Sex             890 non-null    int64
 5   Age             890 non-null    int64
 6   SibSp           890 non-null    int64
 7   Parch           890 non-null    int64
 8   Ticket          890 non-null    object
 9   Fare            890 non-null    float64
 10  Cabin           203 non-null    object
 11  Embarked        890 non-null    object
 12  Cabin_initial   890 non-null    int64
 13  Salutation      890 non-null    int64
 14  age_binned      890 non-null    category
 15  Family          890 non-null    float64
 16  Singleton       890 non-null    int64
 17  SmallFamily     890 non-null    int64
 18  LargeFamily     890 non-null    int64
 19  numeric_ticket  890 non-null    int64
 20  ticket_letters  890 non-null    object
 21  fare_binned     890 non-null    category
dtypes: category(2), float64(2), int64(13), object(5)
memory usage: 188.2+ KB

In [ ]:
embark = {"S": 0, "C": 1, "Q": 2}
new_df7['Embarked'] = new_df7['Embarked'].map(embark)
new_df7['Embarked'].value_counts()

0    645
1    168
2     77
Name: Embarked, dtype: int64

Test data

In [ ]:
df6_test['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [ ]:
df6_test_trial = df6_test
embark = {"S": 0, "C": 1, "Q":2}
df6_test_trial['Embarked'] = df6_test_trial['Embarked'].map(embark)
df6_test_trial['Embarked'].value_counts()

0    270
1    102
2     46
Name: Embarked, dtype: int64

#**Future Work**

#####Cabin_initial : drop row 339. convert initial to numerical
#####Name : Split Mr, Mrs and make new column Salutation
#####Sex : Change male, female to numerical 
#####Age : create column age_cat categorized into 6 group
#####*SibSp & Parch : create column Family from addition of SibSp & Parch*
#####*Ticket : drop whole column*
#####*Fare : create column fare_cat *categorized into 6 group *italicized text*
#####*Embarked : create column *embarked_cat categorized into 3 group *italicized text*

In [ ]:
new_df7.corr()

                PassengerId  Survived  ...  LargeFamily  numeric_ticket
PassengerId        1.000000 -0.005375  ...    -0.057189        0.072586
Survived          -0.005375  1.000000  ...    -0.125439        0.002016
Pclass            -0.035922 -0.340458  ...     0.152100        0.080929
Sex               -0.043298  0.543053  ...     0.102763        0.033012
Age                0.031452 -0.078625  ...    -0.191621       -0.027935
SibSp             -0.057759 -0.035760  ...     0.730669       -0.080479
Parch             -0.001872  0.081248  ...     0.631484       -0.035460
Fare               0.012690  0.257456  ...     0.143663       -0.173248
Embarked          -0.030739  0.106363  ...    -0.072440        0.081630
Cabin_initial     -0.032640 -0.294497  ...     0.071696        0.012550
Salutation         0.003552  0.407383  ...     0.221969        0.036687
Family            -0.040414  0.016150  ...     0.814907       -0.072723
Singleton          0.057865 -0.202793  ...    -0.336714        0.002710
SmallFamily       -0.029311  0.279410  ...    -0.191215        0.013451
LargeFamily       -0.057189 -0.125439  ...     1.000000       -0.030019
numeric_ticket     0.072586  0.002016  ...    -0.030019        1.000000

[16 rows x 16 columns]

In [ ]:
new_df7.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Family', 'Singleton', 'SmallFamily',
       'LargeFamily', 'numeric_ticket', 'ticket_letters', 'fare_binned'],
      dtype='object')

#**Ready data**

Train data

In [ ]:
df8 = new_df7[['Pclass', 'Sex', 'SibSp',
       'Parch', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Singleton', 'SmallFamily',
       'LargeFamily', 'fare_binned']]
df8.head()

   Pclass  Sex  SibSp  Parch  ...  Singleton  SmallFamily  LargeFamily fare_binned
0       3    0      1      0  ...          0            1            0           0
1       1    1      1      0  ...          0            1            0           0
2       3    1      0      0  ...          1            0            0           0
3       1    1      1      0  ...          0            1            0           0
4       3    0      0      0  ...          1            0            0           0

[5 rows x 12 columns]

Test data

In [ ]:
df8_test = df6_test_trial[['Pclass', 'Sex', 'SibSp',
       'Parch', 'Embarked', 'Cabin_initial',
       'Salutation', 'age_binned', 'Singleton', 'SmallFamily',
       'LargeFamily', 'fare_binned']]

df8_test.head()

   Pclass  Sex  SibSp  Parch  ...  Singleton  SmallFamily  LargeFamily fare_binned
0       3    0      0      0  ...          1            0            0           0
1       3    1      1      0  ...          0            1            0           0
2       2    0      0      0  ...          1            0            0           0
3       3    0      0      0  ...          1            0            0           0
4       3    1      1      1  ...          0            1            0           0

[5 rows x 12 columns]

#**S7 : Data Modelling**

In [ ]:
#import sklearn

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier

print ('All done')

All done

In [ ]:
# Model Preprocessing.

x_train = df8
y_train = df6["Survived"]
x_test  = df8_test

In [ ]:
#logistic regression


logreg = LogisticRegression()
logreg.fit(x_train, y_train)

y_pred = logreg.predict(x_test)

acc_log = round(logreg.score(x_train, y_train) * 100, 2)
acc_log

81.91

In [ ]:
#linearly separable data 1 and 0
#Linear Support Vector Machine:
o
linear_svc = LinearSVC()
linear_svc.fit(x_train, y_train)

y_pred = linear_svc.predict(x_test)

acc_linear_svc = round(linear_svc.score(x_train, y_train) * 100, 2)
acc_linear_svc

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

82.02

In [ ]:
#decision tree

decision_tree = DecisionTreeClassifier() 
decision_tree.fit(x_train, y_train)  
y_pred = decision_tree.predict(x_test)  
acc_decision_tree = round(decision_tree.score(x_train, y_train) * 100, 2)
acc_decision_tree

90.11

In [ ]:
#KNN

knn = KNeighborsClassifier(n_neighbors = 3) 
knn.fit(x_train, y_train)  
y_pred = knn.predict(x_test)  
acc_knn = round(knn.score(x_train, y_train) * 100, 2)
acc_knn

85.51

#**S8 : Evaluation**

In [ ]:
from sklearn.model_selection import cross_val_score

dt = DecisionTreeClassifier()
scores = cross_val_score(dt, x_train, y_train, cv=10, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.75280899 0.79775281 0.75280899 0.82022472 0.86516854 0.78651685
 0.7752809  0.79775281 0.85393258 0.79775281]
Mean: 0.8
Standard Deviation: 0.035814331349458946